<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrbaCommerce.Properties.Settings.ConnStrGD" connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD1C2014;Integrated Security=True" />
    </connectionStrings>
</configuration>